{% extends '../index.twig' %}
{% block content %}
<h2>Edit Todo</h2>
	<form method="POST" action="/todo/{{todo.rowid}}/edit?_method="PUT"">
		<table class="table-fill">
			<tr>
				<td class="label">
					<label for="message">Message : </label>
				</td>
				<td>
					<input type="text" class="message" value="{{todo.message}}" name="message" id="message">
				</td>
			</tr>
			<tr>
				<td class="label">
					<label for="team">Team : </label>
				</td>
				<td>
					<input type="text" class="team" value="{{todo.team}}" name="team" id="team">
				</td>
			</tr>
			<tr>
				<td class="label">
					<label for="priorite">Status : </label>
				</td>
				<td>
					<input type="text" class="status" value="{{todo.status}}" name="status" id="status">
				</td>
			</tr>
			<tr>
				<td class="label">
					<label for="priorite">Priorite : </label>
				</td>
				<td>
					<input type="text" class="priorite" value="{{todo.priorite}}" name="priorite" id="priorite">
				</td>
			</tr>
			<tr>
				<td colspan=2 class="submit">
					<input class="submit" type="submit"/>
				</td>
			</tr>
		</form>
	</table>
	{% endblock %}